@use '../../scss/abstracts/variables' as var;

.cartContent {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "productImage title price quantity";

  align-items: center;
  align-content: center;
  padding: 2em 1em;
  border-radius: 10px;
  background-color: var.$color-claro;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  .productImage { 
    grid-area: productImage;
    padding: 10px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    background-color: white;
    border-radius: 20px;
  }

  .title { 
    grid-area: title;
    font-size: var.$font-size-sm;
  }

  .price { 
    grid-area: price;
    font-size: var.$font-size-sm;
    text-align: center;
  }

  .quantity { 
    grid-area: quantity;
    font-size: var.$font-size-sm;
    text-align: center;
  }
}








