.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;

  button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #d90429;
    background: #d90429;
  }

  button:last-child {
    border: 2px solid #2c0b8e;
    background: #2c0b8e;
  
    &:hover {
      background: #fff;
      color: #2c0b8e;
    }
  }

  button:hover {
    background: #fff;
    color: #d90429
  }
}
