.cartContainer {  
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-template-areas:
    "cartContent cartContent cartTotals";
  width: 80%;
  min-height: 100px;
  margin: 50px auto;
  gap: 10px;
};




