@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,600;1,700;1,800&display=swap');

/*Tipo de fuente*/
$fuente-principal: 'Montserrat', sans-serif;

/*Tamaños fuentes*/
$font-size-sm: 16px;
$font-size-md: 20px; 
$font-size-xl: 24px;
$font-size-xxl: 32px;

/*Colores*/
$color-oscuro: #03045E;
$color-claro: #CAF0F8;
$color-primario: #90E0EF;
$color-secundario: #00B4D8;