@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,600;1,700;1,800&display=swap');

/*Tipo de fuente*/
$fuente-principal: 'Montserrat', sans-serif;

/*Tamaños fuentes*/
$font-size-sm: 1.6rem;
$font-size-md: 2rem; 
$font-size-xl: 2.4rem;
$font-size-xxl: 3.2rem;

/*Colores*/
$color-primario: blue;