.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px;
  background-color: aquamarine;
  font-size: 1.8rem;
}

.logo, .navbarContainer, .carritoContainer {
  width: 320px;
}

 .navbarContainer ul {
  display: flex;
  list-style: none;
  gap: 15px;
 }

 .navbarContainer ul li a{
  text-decoration: none;
 }

 .navbarContainer ul li {
  transition: transform 0.2s ease;
 }

 .navbarContainer ul li:hover {
  transform: scale(1.1);
 }

 .carritoContainer {
  text-align: end;
  font-size: 2.5rem;
  transition: transform 0.3 ease;
 }

 .carritoContainer a i:hover {
  transform: scale(1.1);
 }
